body {

    background-color : #d0d0d0;
    color            : #a0a0a0;
}

.cnvs {

	background-color : #d0d0d0;
	display          : block;
    border           : 1px solid black;
    border-spacing   : 15px;
    padding          : 5px;
    width            : 99%;
    height           : 94% ;
    text-align       : center;
    position         : relative;
}

.hist {

	background-color : #808080;
	display          : block;
    border           : 1px solid black;
    border-spacing   : 15px;
    padding          : 5px;
    width            : 99%;
    height           : 40% ;
    text-align       : center;
    position         : relative;
}

/*
<style>
body {
    background-color : #383838;
    color : #a0a0a0;
}
canvas {
    background-color : #ffffff;
    border: 1px solid black;
    padding: 5px;
    width:99%;
    height:94%;
    border-spacing: 15px;
    text-align: center;
    position: relative;
}
</style>
*/